<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DataNeuron</title>
    <style>
        p {
            margin-top: 0 !important;
        }
    </style>
</head>

<body>
    <table cellpadding="0" cellspacing="0" border="0" align="center" style="
        text-align: center;
        background-color: #f1f2f4;
        width: 600px;
        padding: 0px;
        font-family: Arial;
        border: #880ac2 thin solid;">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" style="font-size: 13px; text-align: justify; width: 100%">
                    <tbody>
                        <tr>
                            <td style="
                    width: 100%;
                    padding: 10px 0;
                    text-align: center;
                    background-color: #880ac2;
                    border-bottom: #00d6ff 4px solid;">
                                <img src="https://thumbs.dreamstime.com/z/software-development-word-cloud-concept-grey-background-88535408.jpg?w=992"
                                    width="261px" alt="/" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0"
                                    style="font-size: 13px;text-align: justify;padding: 20px;width: 100%;">
                                    <h4>Dear User,</h4>
                                    <h4>
                                        <h3>
                                            We have received your query i.e., mentioned below,
                                        </h3>
                                        <%-bodyText%>
                                    </h4>
                                    <h5>
                                        Thanks for connecting us!
                                    </h5>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table cellspacing="0" cellpadding="0" style="width: 100%; padding: 50px 20px; text-align: left">
                    <tbody>
                        <tr>
                            <td style="color: #3f3f3f; font-size: 17px; padding-bottom: 5px">
                                Sincerely,
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #3f3f3f; font-size: 20px; font-weight: nortmal">
                                DataNeuron Developers Team
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table cellspacing="0" cellpadding="0" style="width: 100%; margin-bottom: 50px">
                    <tbody>
                        <tr>
                            <td style="text-align: center; padding: 15px; background: #fff">
                                <a href="https://dataneuron.ai/"
                                    style="color: #8214c8;text-decoration: none;font-size: 20px;">dataneuron.ai/</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>